<div id="Footer" class="footer container-fluid">
			<div class="footer__wp">
				<div class="footer__wp-menu fm d-flex justify-content-between align-items-center">
					<div class="fm__item  --home">
						 <span class="fm__item-icon">
                           <img src="assets/images/29480251.png" alt="fm-home">
						 </span>
						 <span class="fm__item-text">
                            Home
						 </span>
					</div>
					<div class="fm__item   --profile">
						<span class="fm__item-icon">
						  <img src="assets/images/2661341.png" alt="fm-profile">
						</span>
						<span class="fm__item-text">
                        Profile
						</span>
				   </div>
				   <div class="fm__item   --promos">
					<span class="fm__item-icon">
					  <img src="assets/images/28324661.png" alt="fm-promos">
					</span>
					<span class="fm__item-text">
                     Promos
					</span>
			   </div>
			   <div class="fm__item   --chat">
				<span class="fm__item-icon">
					<i class="fa-brands fa-rocketchat"></i>
				</span>
		   </div>
				</div>
			</div>
		</div>
	</body>

